.btn {
  /* margin: auto; */
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.label {
  color: white;
}
