.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;

  left: 0;
  width: 100%;

  height: 100%;
  background-image: url("../../assets/bg.jpg");
  background-position: center;
  background-size: cover;
  opacity: 1;
  background-color: black;
  filter: brightness(41%);
  z-index: -1;
}

.heading {
  font-family: var(--primary-font-bold);
  font-size: 50px;
  font-weight: 700;
}
