.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.label {
  color: white;
}
.input {
  max-width: 500px;
}

.actions {
  display: flex;
  gap: 10px;
}
