.customBtn {
  background-color: var(--logo-color);
  color: var(--white-color);
  border-radius: 6px;
  padding: 8px 25px;
  border: none;
  font-family: "poppin-regular";
  font-size: 15px;
  cursor: pointer;
}
